<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item float-end"><a href="#" class="nav-link px-2 text-muted">Página principal</a></li>
      <li *ngIf="!isLogged" class="nav-item"><a routerLink="/login" class="nav-link px-2 text-muted">Iniciar sesión</a>
      </li>
      <li *ngIf="!isLogged" class="nav-item"><a routerLink="/registro" class="nav-link px-2 text-muted">Registrarse</a>
      </li>
    </ul>
    <p class="text-center text-muted">&copy; 2022 ECOMERS</p>
  </footer>
</div>
